<head>
  <title>Group Members</title>
</head>
<body>
  <div class="title">Meet the crew!</div>
  <div class="flex-container">
    <div class="flex-item flex-item-first">
      <div class="member-info">
        <div class="member-info-inner">
          <div class="member-name">Amarinder Singh</div>
          <div class="member-role">Project Lead</div>
          <div class="member-details">Computer Science Student</div>
          <div class="member-details">California State University -Northridge</div>
        </div>
        <div class="member-links">
          <a href="https://twitter.com/johnsmith">Twitter</a>
          <a href="https://www.linkedin.com/in/sarahkim">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="flex-container-row">
    <div class="flex-item">
      <div class="member-info">
        <div>
          <div class="member-name">Armen Abraamyan</div>
          <div class="member-role">Software Engineer</div>
          <div class="member-details">Computer Science Student</div>
          <div class="member-details">California State University -Northridge</div>
        </div>
        <div class="member-links">
          <a href="https://twitter.com/johnsmith">Twitter</a>
          <a href="https://www.linkedin.com/in/sarahkim">LinkedIn</a>
        </div>
      </div>
    </div>    
    
    <div class="flex-item">
      <div class="member-info">
        <div>
          <div class="member-name">Ali Raza</div>
          <div class="member-role">Software Engineer</div>
          <div class="member-details">Computer Science Student</div>
          <div class="member-details">California State University -Northridge</div>
        </div>
        <div class="member-links">
          <a href="https://twitter.com/johnsmith">Twitter</a>
          <a href="https://www.linkedin.com/in/sarahkim">LinkedIn</a>
        </div>
      </div>
    </div>
    
    <div class="flex-item">
      <div class="member-info">
        <div>
          <div class="member-name">Rita Simon</div>
          <div class="member-role">Software Engineer</div>
          <div class="member-details">Computer Science Student</div>
          <div class="member-details">California State University -Northridge</div>
        </div>
        <div class="member-links">
          <a href="https://twitter.com/johnsmith">Twitter</a> 
          <a href="https://www.linkedin.com/in/sarahkim">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
