<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- link for icon !-->
    <link rel="stylesheet" href=
      "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>Meet Our Group!</h1>
    <div class="column">
      <div class="box">
        <i class="fa fa-user-circle"></i>
        <h2>Amarinder Singh</h2>
        <p>Groupmember #1</p>
        <p>Tasks included:</p>
        <p>Routing, Task Creation and Editing</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <i class="fa fa-user-circle"></i>
        <h2>Ali Raza</h2>
        <p>Groupmember #2</p>
        <p>Tasks included: </p>
        <p>Homepage, Filter and Priority Tasks </p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <i class="fa fa-user-circle"></i>
        <h2>Armen Abraamyan</h2>
        <p>Groupmember #3</p>
        <p>Tasks included: </p>
        <p>Task Deletion and Backend</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <i class="fa fa-user-circle"></i>
        <h2>Rita Simon</h2>
        <p>Groupmember #4</p>
        <p>Tasks Included:</p>
        <p>Profile Page, Backend
        </p>
      </div>
    </div>
  </body>
</html>
